$--color-nav-background: #212121;
$--color-background: #181818;
$--color-chips-background: #ffffff1a;
$--color-white: #fff;
$--color-card-sub: #D5D5D5;
$--color-btn: #3ea6ff;
$--color-search-background: #ffffff14;
$--color-input-background: hsl(0, 0%, 7%);
$--color-input-border: hsl(0, 0%, 18.82%);
$--color-nav-hover: #ffffff1a;

// $--color-nav-background: #f1f1f1;
// $--color-background: #fff;
// $--color-chips-background: #ffffff;
// $--color-white: #000;
// $--color-card-sub: #757575;
// $--color-btn: #3ea6ff;
// $--color-search-background: #ffffff;
// $--color-input-background: #fff;
// $--color-input-border: rgb(180, 180, 180);
// $--color-nav-hover: #ffffff1a;